<div class="audio-player-main-container" style="position:relative; height: 100%;">
    <videogular vg-player-ready="player.onPlayerReady($API);" style="height: 0;">
        <vg-media vg-src="player.selected" vg-type="audio"></vg-media>
    </videogular>

    <a ng-click="player.playPrev();" href="javascript:void(0);" style="cursor:pointer;">
        <img ng-src="/applications/system/AudioPlayer/Icons/prev.png" alt="prev-button">
    </a>
    <a ng-click="player.play();" ng-if="player.api.currentState !== 'play'" href="javascript:void(0);" style="cursor:pointer;">
        <img ng-src="/applications/system//AudioPlayer/Icons/play.png" alt="play-button">
    </a>
    <a ng-click="player.pause();" ng-if="player.api.currentState === 'play'" href="javascript:void(0);" style="cursor:pointer;">
        <img ng-src="/applications/system/AudioPlayer/Icons/pause.png" alt="pause-button">
    </a>
    <a ng-click="player.playNext();" href="javascript:void(0);" style="cursor:pointer;">
        <img ng-src="/applications/system/AudioPlayer/Icons/next.png" alt="next-button">
    </a>
    <a ng-click="player.stop();" href="javascript:void(0);" style="cursor:pointer;">
        <img ng-src="/applications/system/AudioPlayer/Icons/stop.png" alt="stop-button">
    </a>
    <a ng-click="player.addFiles();" href="javascript:void(0);" style="cursor:pointer;">
        <img ng-src="/applications/system/AudioPlayer/Icons/plus.png" alt="plus-button">
    </a>

    <div>
        <p>current: {{ player.selected[0].name }}</p>
        <p>status: {{ player.api.currentState }}</p>
    </div>

    <div class="playlist">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>#</th>
                <th>track</th>
                <th>date</th>
                <th>duration</th>
            </tr>
            <tr ng-repeat="track in player.data.tracks"
                ng-class="{'audio-player-selected': track === player.selected}">
                <td>{{ $index + 1 }}</td>
                <td>{{ track[0].name }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>