<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="author" content="Vladislav Kosko (riki34) & " />
        <meta charset="UTF-8" />
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block base %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
