.audio-player-main {
    height: 100%;
}

.audio-player-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.audio-player-container.audio {
    height: 50px;
}

videogular div.audio-player-next-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular div.audio-player-next-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular div.my-button a,
videogular div.my-button a:hover,
videogular div.my-button a:visited {
    color: white;
    text-decoration: none;
}