{% extends 'riki34FrontendBundle::index.html.twig' %}

{% block body %}
    <section id="my-private-desktop-app"
             ng-app="kernel" class="app"
             ng-controller="applicationController as app">
        <desktop desktop-id="{{ desktop_id }}"></desktop>
    </section>
    <div id="applications-layer">
        <div id="magnify-container"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" rel="script" language="JavaScript"></script>
    {{ parent() }}
    <div id="application-scripts"></div>
{% endblock %}