<div class="main-panel">
    <ul class="list-horizontal">
        <li class="list-horizontal-item" ng-repeat="dir in directory.subdirs">
            <a href="javascript:void(0);">
                <div class="file-icon file-icon-xl list-horizontal-item-icon" data-type="dir"></div>
                <p>{{ dir.name }}</p>
            </a>
        </li>

        <li class="list-horizontal-item" ng-repeat="file in directory.files">
            <a href="javascript:void(0);">
                <div class="file-icon file-icon-xl list-horizontal-item-icon" data-type="{{ file.extension }}"></div>
                <p>{{ dir.name }}</p>
            </a>
        </li>
    </ul>
</div>