<div ng-style="background.settings" context-menu="background.contextMenu" class="desktop no-select">

    <form ng-submit="desktop.launch(package);" class="form-horizontal" style="width: 100%;">
        <div class="input-group input-group-sm">
            <label class="input-group-addon" for="app-launcher">Package: </label>
            <select id="app-launcher" class="form-control" ng-model="package">
                <option value="/applications/system/ProcessManager/process-manager.ae">/applications/system/ProcessManager/process-manager.ae</option>
                <option value="/applications/system/DesktopSettings/desktop-settings.ae">/applications/system/DesktopSettings/desktop-settings.ae</option>
            </select>
            <span class="input-group-btn"><button class="btn btn-default btn-sm" type="submit">
                <i class="fa fa-laptop"></i>Launch!</button>
            </span>
        </div>
    </form>

    <desktop-grid grid="desktopGrid"></desktop-grid>

    <div id="applications-layer"></div>

    <desktop-panel apps="applications"></desktop-panel>
</div>